@import "tailwindcss";

@keyframes floatUp {
  0% {
    transform: translateY(100vh) scale(1);
    opacity: 1;
  }
  100% {
    transform: translateY(-10vh) scale(1.5);
    opacity: 0;
  }
}

@font-face {
  font-family: "LoveFont";
  src: url("./assets/fonts/BabySparkle.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
@layer base {
  .font-love {
    font-family: "LoveFont", sans-serif;
  }
}
@font-face {
  font-family: "Timer";
  src: url("./assets/fonts/GoodVibrations.ttf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
@layer base {
  .font-timer {
    font-family: "Timer", sans-serif;
  }
}
@font-face {
  font-family: "Caliny";
  src: url("./assets/fonts/Caliny-Medium.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
@layer base {
  .font-caliny {
    font-family: "Caliny", sans-serif;
  }
}


@layer utilities {
  .animate-border {
    background: linear-gradient(
      90deg,
      #ff4f6a,
      #ffa2a2,
      #ff2445
    );
    background-size: 300% 300%;
    animation: borderMove 4s linear infinite;
  }

  @keyframes borderMove {
    0% {
      background-position: 0% 50%;
    }
    100% {
      background-position: 300% 50%;
    }
  }
}
