@import "tailwindcss";

@keyframes floatUp {
  0% {
    transform: translateY(100vh) scale(1);
    opacity: 1;
  }
  100% {
    transform: translateY(-10vh) scale(1.5);
    opacity: 0;
  }
}

@font-face {
  font-family: "LoveFont";
  src: url("./assets/fonts/BabySparkle.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
@layer base {
  .font-love {
    font-family: "LoveFont", sans-serif;
  }
}
